<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/main.scss.css') }}" rel="stylesheet" type="text/css">
    <title>Document</title>
</head>
<body>
    <form action="/Paciente" method="POST">
      <div>
        <div>
          <div>Nombre y Apellidos:</div>
          <div><input type="text" name="nombre"/></div>
        </div>
        <div>
          <div>DNI:</div>
          <div><input type="text" name="dni"/></div>
        </div>
        <div>
          <div><input type="submit" /></div>
          <div></div>
        </div>
      </div>
    </form>
</body>
</html>